.input {
  color: white;
  width: 100px;
  height: 100px;
  line-height: 1.5;
  border-radius: 12px;
  border: 7px solid #646cff;
  outline: 4px solid #646cff;
  outline-offset: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  background-color: #000;
}

.correct {
  border-color: yellowgreen;
  outline-color: yellowgreen;
  outline-offset: 2px;
}

.error {
  border-color: orangered;
  outline-color: orangered;
  outline-offset: 2px;
}
