#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;

  max-width: 480px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 2rem;
  place-items: center;

  display: flex;
  place-items: center;
}

.title {
  font-size: 40px;
}
